body{
    background-color: black;
}

#bomberMan{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image : url('media/Bomberman.png');
    z-index: 1000;
    bottom : 40px;
    left: 200px;
}

.fenetre{

    margin: 50px auto;
    position: relative;
    width: 480px;
    height: 480px;
    /*background-ima0;ge: url('media/sol.jpg');*/

}
.sol{
    background-image: url('media/sol.jpg');
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;

}
.mur{
    background-image: url('media/mur.jpg');
    width: 40px;
    height: 40px;
    position: absolute;
}

#murDestr{
    background-image: url('media/murdest.jpg');
    width: 40px;
    height: 40px;
    position: absolute;
}    

.monstre{
    background-image: url("media/monster1.png");
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 800;
    background-repeat: no-repeat;

}
.bomb{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 500;
    background-image: url("media/bombe.gif");
    
}

.explosionCol{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1000;
    background-image: url("media/boom.png")
}

#message{
    left : 90px;
    top : 190px;
    width : 300px;
    height :100px;
    border: none;
    background-color: firebrick;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    z-index: 400000;
    position: absolute;
    border-radius: 40px;
    text-align: center;
    padding-top: 60px;
}